# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.coverage
htmlcov/
.pytest_cache/

# CDK / Cloud
cdk.out/
.cdk/
.cdkvenv/
*.template.json
*.template.yaml
.aws-sam/

# Node (CDK CLI sometimes)
node_modules/

# IDE
.idea/
.vscode/
.DS_Store

# Dist
build/
dist/
*.zip
